.legs-tab-clicked-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.legs-tab-clicked-screen .legs-tab-clicked-2 {
  background-color: #ffffff;
  border: 1px none;
  height: 1561px;
  width: 1920px;
}

.legs-tab-clicked-screen .overlap-9 {
  background-color: #f8f8f8;
  height: 1561px;
  position: relative;
}

.legs-tab-clicked-screen .overlap-10 {
  background-color: #ffffff;
  height: 1200px;
  left: 110px;
  position: absolute;
  top: 249px;
  width: 1700px;
}

.legs-tab-clicked-screen .overlap-11 {
  background-color: #eaeaea;
  border-radius: 20px;
  height: 386px;
  left: 367px;
  position: absolute;
  top: 51px;
  width: 426px;
}

.legs-tab-clicked-screen .column-titles-2 {
  height: 45px;
  left: 50px;
  position: absolute;
  top: 17px;
  width: 333px;
}

.legs-tab-clicked-screen .scoring-2 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.legs-tab-clicked-screen .text-wrapper-27 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.legs-tab-clicked-screen .grade-point-2 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 210px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.legs-tab-clicked-screen .line-4 {
  height: 1px;
  left: 28px;
  position: absolute;
  top: 71px;
  width: 378px;
}

.legs-tab-clicked-screen .up-to-mm-of {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 45px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.legs-tab-clicked-screen .text-wrapper-28 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}

.legs-tab-clicked-screen .element-7 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 321px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 99px;
  white-space: nowrap;
}

.legs-tab-clicked-screen .text-wrapper-29 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}

.legs-tab-clicked-screen .element-8 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 314px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 174px;
  white-space: nowrap;
}

.legs-tab-clicked-screen .element-9 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 314px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 249px;
  white-space: nowrap;
}

.legs-tab-clicked-screen .element-10 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 314px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 304px;
  white-space: nowrap;
}

.legs-tab-clicked-screen .notes-3 {
  border-radius: 20px;
  height: 534px;
  left: 1218px;
  position: absolute;
  top: 40px;
  width: 421px;
}

.legs-tab-clicked-screen .overlap-12 {
  background-color: #fffcfc;
  border-radius: 20px;
  height: 424px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 417px;
}

.legs-tab-clicked-screen .specialty-physician-2 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 386px;
}

.legs-tab-clicked-screen .text-wrapper-30 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.legs-tab-clicked-screen .notes-4 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 184px;
}

.legs-tab-clicked-screen .text-wrapper-31 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.legs-tab-clicked-screen .button {
  all: unset;
  border-radius: 20px;
  box-sizing: border-box;
  height: 37px;
  left: 138px;
  position: absolute;
  top: 497px;
  width: 129px;
}

.legs-tab-clicked-screen .overlap-group-6 {
  height: 38px;
  position: relative;
  top: -1px;
  width: 127px;
}

.legs-tab-clicked-screen .background-2 {
  background-color: #000000;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #0000000a;
  height: 35px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 127px;
}

.legs-tab-clicked-screen .save-2 {
  color: #ffffff;
  font-family: "Cairo", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.legs-tab-clicked-screen .text-wrapper-32 {
  color: #ffffff;
  font-family: "Cairo", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.legs-tab-clicked-screen .pitting-edema-2 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 39px;
}

.legs-tab-clicked-screen .text-wrapper-33 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.legs-tab-clicked-screen .right-calve-2 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 117px;
}

.legs-tab-clicked-screen .left-calve-2 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 184px;
}

.legs-tab-clicked-screen .overlap-13 {
  height: 45px;
  left: 194px;
  position: absolute;
  top: 117px;
  width: 93px;
}

.legs-tab-clicked-screen .rectangle-2 {
  height: 42px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 93px;
}

.legs-tab-clicked-screen .element-11 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.legs-tab-clicked-screen .overlap-14 {
  height: 45px;
  left: 194px;
  position: absolute;
  top: 184px;
  width: 93px;
}

.legs-tab-clicked-screen .element-12 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.legs-tab-clicked-screen .group-4 {
  background-image: url(../../../static/img/chainlink-link-3.png);
  background-size: 100% 100%;
  height: 35px;
  left: 48px;
  position: absolute;
  top: 255px;
  width: 35px;
}

.legs-tab-clicked-screen .mdi-question-mark-2 {
  height: 43px;
  left: 252px;
  position: absolute;
  top: 47px;
  width: 43px;
}

.legs-tab-clicked-screen .tabs-4 {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 110px;
  overflow: hidden;
  position: absolute;
  top: 186px;
  width: 1062px;
}

.legs-tab-clicked-screen .frame-32 {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 188px;
}

.legs-tab-clicked-screen .span-wrapper-8 {
  color: #222222;
  font-family: "DM Sans", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
}

.legs-tab-clicked-screen .text-wrapper-34 {
  color: #222222;
  font-family: "DM Sans", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.legs-tab-clicked-screen .frame-33 {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 188px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 131px;
}

.legs-tab-clicked-screen .frame-34 {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 319px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 115px;
}

.legs-tab-clicked-screen .frame-35 {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 434px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 119px;
}

.legs-tab-clicked-screen .frame-36 {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 553px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 148px;
}

.legs-tab-clicked-screen .frame-37 {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 701px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 112px;
}

.legs-tab-clicked-screen .frame-38 {
  background-color: #ffffff;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 813px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 103px;
}

.legs-tab-clicked-screen .frame-39 {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 916px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 146px;
}

.legs-tab-clicked-screen .NAV-4 {
  background-color: #ffffff;
  height: 94px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.legs-tab-clicked-screen .profile-7 {
  height: 61px;
  left: 1647px;
  position: absolute;
  top: 23px;
  width: 223px;
}

.legs-tab-clicked-screen .profile-8 {
  height: 60px;
  left: 81px;
  position: absolute;
  top: 1px;
  width: 146px;
}

.legs-tab-clicked-screen .overlap-group-7 {
  height: 60px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 111px;
}

.legs-tab-clicked-screen .dr-david-ochoa-4 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.legs-tab-clicked-screen .text-wrapper-35 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.legs-tab-clicked-screen .cardiologist-4 {
  color: #8f8f8f;
  font-family: "Cairo", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 28px;
}

.legs-tab-clicked-screen .text-wrapper-36 {
  color: #8f8f8f;
  font-family: "Cairo", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.legs-tab-clicked-screen .arrow-4 {
  height: 8px;
  left: 127px;
  position: absolute;
  top: 24px;
  width: 15px;
}

.legs-tab-clicked-screen .profile-picture-4 {
  background-image: url(../../../static/img/placeholder-6.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 14px;
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 57px;
}

.legs-tab-clicked-screen .icon-groups-4 {
  height: 30px;
  left: 1355px;
  position: absolute;
  top: 37px;
  width: 210px;
}

.legs-tab-clicked-screen .calendar-icon-4 {
  height: 30px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 30px;
}

.legs-tab-clicked-screen .settings-icon-4 {
  height: 30px;
  left: 180px;
  position: absolute;
  top: 0;
  width: 30px;
}

.legs-tab-clicked-screen .chart-icon-4 {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.legs-tab-clicked-screen .message-icon-4 {
  height: 30px;
  left: 120px;
  position: absolute;
  top: 0;
  width: 30px;
}

.legs-tab-clicked-screen .separator-4 {
  background-color: #d1d1d1;
  border-radius: 8px;
  height: 56px;
  left: 1613px;
  position: absolute;
  top: 23px;
  width: 2px;
}

.legs-tab-clicked-screen .VP-logo-7 {
  height: 36px;
  left: 28px;
  position: absolute;
  top: 29px;
  width: 403px;
}

.legs-tab-clicked-screen .virtual-physical-4 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 30px;
  font-weight: 500;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 358px;
}

.legs-tab-clicked-screen .text-wrapper-37 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.legs-tab-clicked-screen .VP-logo-8 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 35px;
}
