.summary-flagged {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.summary-flagged .overlap-wrapper {
  background-color: #ffffff;
  border: 1px none;
  height: 1561px;
  width: 1920px;
}

.summary-flagged .overlap {
  background-color: #f8f8f8;
  height: 1561px;
  position: relative;
}

.summary-flagged .overlap-group {
  background-color: #ffffff;
  height: 1200px;
  left: 110px;
  position: absolute;
  top: 249px;
  width: 1700px;
}

.summary-flagged .buttons {
  height: 76px;
  left: 65px;
  position: absolute;
  top: 41px;
  width: 1273px;
}

.summary-flagged .flag-button {
  background-color: #ff000070;
  border-radius: 20px;
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 314px;
}

.summary-flagged .text {
  height: 41px;
  left: 25px;
  position: relative;
  top: 17px;
  width: 269px;
}

.summary-flagged .flag-patient-as-high {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
}

.summary-flagged .text-wrapper {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.summary-flagged .danger-sign {
  background-image: url(../../../static/img/danger-2.png);
  background-size: 100% 100%;
  height: 30px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 30px;
}

.summary-flagged .message-patient {
  background-color: #eaeaea;
  border-radius: 20px;
  height: 76px;
  left: 354px;
  position: absolute;
  top: 0;
  width: 250px;
}

.summary-flagged .div {
  border-radius: 20px;
  height: 41px;
  left: 25px;
  position: relative;
  top: 17px;
  width: 203px;
}

.summary-flagged .img {
  height: 30px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 30px;
}

.summary-flagged .span-wrapper {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
}

.summary-flagged .schedule-call-button {
  background-color: #eaeaea;
  border-radius: 20px;
  height: 76px;
  left: 644px;
  position: absolute;
  top: 0;
  width: 394px;
}

.summary-flagged .text-2 {
  border-radius: 20px;
  height: 41px;
  left: 24px;
  position: relative;
  top: 17px;
  width: 347px;
}

.summary-flagged .p {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
}

.summary-flagged .PDF-button {
  background-color: #eaeaea;
  border-radius: 20px;
  height: 76px;
  left: 1078px;
  position: absolute;
  top: 0;
  width: 195px;
}

.summary-flagged .group {
  border-radius: 20px;
  height: 41px;
  left: 31px;
  position: relative;
  top: 17px;
  width: 134px;
}

.summary-flagged .folder-add {
  height: 30px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 30px;
}

.summary-flagged .summary-text {
  background-color: #ffffff;
  height: 1003px;
  left: 65px;
  position: absolute;
  top: 139px;
  width: 1555px;
}

.summary-flagged .frame {
  height: 125px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1555px;
}

.summary-flagged .span-wrapper-2 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 25px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.summary-flagged .span {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
}

.summary-flagged .line {
  height: 1px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 1555px;
}

.summary-flagged .div-2 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 56px;
  width: 1555px;
}

.summary-flagged .text-wrapper-2 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.summary-flagged .text-wrapper-3 {
  font-weight: 700;
}

.summary-flagged .frame-2 {
  height: 125px;
  left: 0;
  position: absolute;
  top: 135px;
  width: 1555px;
}

.summary-flagged .frame-3 {
  height: 125px;
  left: 0;
  position: absolute;
  top: 270px;
  width: 1555px;
}

.summary-flagged .frame-4 {
  height: 125px;
  left: 0;
  position: absolute;
  top: 405px;
  width: 1555px;
}

.summary-flagged .frame-5 {
  height: 125px;
  left: 0;
  position: absolute;
  top: 540px;
  width: 1555px;
}

.summary-flagged .frame-wrapper {
  height: 193px;
  left: 0;
  position: absolute;
  top: 675px;
  width: 1555px;
}

.summary-flagged .frame-6 {
  height: 193px;
  position: relative;
}

.summary-flagged .frame-7 {
  height: 125px;
  left: 0;
  position: absolute;
  top: 878px;
  width: 1555px;
}

.summary-flagged .tabs {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 110px;
  overflow: hidden;
  position: absolute;
  top: 186px;
  width: 1062px;
}

.summary-flagged .demographics-wrapper {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 188px;
}

.summary-flagged .span-wrapper-3 {
  color: #222222;
  font-family: "DM Sans", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
}

.summary-flagged .text-wrapper-4 {
  color: #222222;
  font-family: "DM Sans", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.summary-flagged .general-wrapper {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 188px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 131px;
}

.summary-flagged .lungs-wrapper {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 319px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 115px;
}

.summary-flagged .pulses-wrapper {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 434px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 119px;
}

.summary-flagged .abdomen-wrapper {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 553px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 148px;
}

.summary-flagged .heart-wrapper {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 701px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 112px;
}

.summary-flagged .legs-wrapper {
  background-color: #eaeaea;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 813px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 103px;
}

.summary-flagged .summary-wrapper {
  background-color: #ffffff;
  border-radius: 12px 12px 0px 0px;
  height: 63px;
  left: 916px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 146px;
}

.summary-flagged .NAV {
  background-color: #ffffff;
  height: 94px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.summary-flagged .profile {
  height: 61px;
  left: 1647px;
  position: absolute;
  top: 23px;
  width: 223px;
}

.summary-flagged .profile-2 {
  height: 60px;
  left: 81px;
  position: absolute;
  top: 1px;
  width: 146px;
}

.summary-flagged .overlap-group-2 {
  height: 60px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 111px;
}

.summary-flagged .dr-david-ochoa {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.summary-flagged .text-wrapper-5 {
  color: #000000;
  font-family: "Cairo", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.summary-flagged .cardiologist {
  color: #8f8f8f;
  font-family: "Cairo", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 28px;
}

.summary-flagged .text-wrapper-6 {
  color: #8f8f8f;
  font-family: "Cairo", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.summary-flagged .arrow {
  height: 8px;
  left: 127px;
  position: absolute;
  top: 24px;
  width: 15px;
}

.summary-flagged .profile-picture {
  background-image: url(../../../static/img/placeholder-6.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 14px;
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 57px;
}

.summary-flagged .icon-groups {
  height: 30px;
  left: 1355px;
  position: absolute;
  top: 37px;
  width: 210px;
}

.summary-flagged .calendar-icon {
  height: 30px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 30px;
}

.summary-flagged .settings-icon {
  height: 30px;
  left: 180px;
  position: absolute;
  top: 0;
  width: 30px;
}

.summary-flagged .chart-icon {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.summary-flagged .message-icon {
  height: 30px;
  left: 120px;
  position: absolute;
  top: 0;
  width: 30px;
}

.summary-flagged .separator {
  background-color: #d1d1d1;
  border-radius: 8px;
  height: 56px;
  left: 1613px;
  position: absolute;
  top: 23px;
  width: 2px;
}

.summary-flagged .VP-logo {
  height: 36px;
  left: 28px;
  position: absolute;
  top: 29px;
  width: 403px;
}

.summary-flagged .virtual-physical {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 30px;
  font-weight: 500;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 358px;
}

.summary-flagged .text-wrapper-7 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.summary-flagged .VP-logo-2 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 35px;
}
